.lover{
    height: 200px;
    width: 600px;
    border: 1px solid black;
    margin: auto;
}

#majnu{
    background-image: url(/673970_books_512x512.png);
    background-size: 50px 50px;
   height: 50px;
   width: 50px;
   position: relative;
   top: 150px;
   
}

.jump{
    animation: jump 0.4s linear;
}

@keyframes jump{
    0%{
        top: 150px;
    }

    15%{
        top: 130px;
    }

    30%{
        top: 100px;
    }

    45%{
        top: 80px;
    }

    70%{
        top: 110px;
    }

    80%{
        top: 130px;
    }

    100%{
        top: 150px;
    }
}


#laila{
    width: 50px;
    height: 50px;
    position: relative;
    top: 102px;
    left: 550px;
    background-image: url(/0a338a67a6aac4adf71158dfae9c24f0-sexy-girl-profile-posing-silhouette-blue.png);
    background-size: 50px 50px;
    animation: block 1s infinite linear;
}

@keyframes block{
    0%{
        left: 575px;
    }

    100%{
        left: -20px;
    }
}